html, * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --dark: #19211c;
    --medium: #C5C1BB;
    --light: #EFF0EB;
    --accent-yellow: #EACB48 ;
    --accent-blue:#00A099;
}
body {
    background-color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--light);
    max-width: 100%;
       display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");

}
 
/* Header Styles*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

header h1 {
    /* font-size: 80px; */
    color: var(--light);
    margin: 10px;
    padding: 0px;
}

.header-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 8px solid var(--accent-yellow);
    padding: 60px 40px 20px 40px;
    margin-top: -60px;
}

/* Nav Styles*/

nav {
    margin: 20px;
    padding: 20px;
}

nav ul li {
    display: inline;
    margin: 20px;
    padding: 20px;
    font-size: 32px;
    font-family: 'Rubik Mono One', sans-serif;
    text-shadow: var(--accent-blue) 1px 3px;
}

nav a {
    text-decoration: none;
    color: var(--accent-yellow);
}

nav a:hover {
    color: var(--accent-blue);
    text-shadow: var(--accent-yellow) 1px 3px;
}




/* Left Side Section Header Styles */

h2 {
    font-size: 96px;
    color: var(--accent-yellow);
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: -20px;
    /* text-decoration-line: overline; */
    font-family: 'Rubik Mono One', sans-serif;
    /* border-right: 2px solid var(--accent-blue);  */
    text-shadow: var(--accent-blue) 4px 5px;
}


/* About me section */

.about-main {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 50px;
    
}

.about-block {
    display:inline-block;
    
}
.about-block > img {
    border-radius: 12px;
    border: 8px solid var(--accent-yellow);
    margin-left: 20px;
    max-width: 200px;
    max-height: 200px;
    
}

.about-main p {
    font-size: 32px;
    /* margin: auto 50px;
    padding: 100px; */
    display: flex;
    flex-direction: column;
}

.about-main p > span {
    font-size: 44px;
    padding-bottom: 10px;
}

.about-main p strong {
    color: var(--accent-yellow);
}

.strong-name {
    font-family: 'Rubik Mono One', sans-serif;
    text-shadow: var(--accent-blue) 2px 3px;
}

.about-block {
    max-width: 72%;
}
/* Project section */

.project-block-large{
    /* display: flex;
    flex-direction: column;
    flex-basis: 100%;
    order: 1; */
    /* justify-content: center;
    align-items: center; */
    border: 8px solid var(--accent-yellow);
    border-radius: 12px;
    /* padding: 12px; */
    margin: 20px;
}

.project-block{
    /* display: flex;
    flex-direction: column;
    flex-basis: 45%;
    order:2; */
    border: 8px solid var(--accent-yellow);
    border-radius: 12px;
    /* padding: 12px; */
    margin: 20px;
   
}

h3 {
    font-size: 36px;
    color: var(--dark);
    background-color: var(--accent-yellow);
    padding: 20px;
    overflow: hidden;
}

.repoLink {
    font-size:36px;
    color: var(--dark);
    text-decoration: none;
    
}

.repoLink:hover {
    color: var(--accent-blue);
}
.project-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-yellow);
}
.project-btn {
    background-color: var(--accent-blue); /* Green */
    border: none;
    color: var(--accent-yellow);
    border: 8px solid var(--accent-yellow);
    border-radius: 12px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 36px;
    
}
/* CAROUSEL */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
  border: 8px solid var(--accent-yellow);
  border-radius: 12px;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--accent-blue);
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Contact section */

.contact {
    display:flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
}
.contact ul {
    display: flex;
    flex-direction: column;
}
.contact ul li  {
    display: inline;
    font-size: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* color: var(--accent-yellow) */
}
.contact a {
    text-decoration: none;
    color: var(--light);
}

footer {
    margin-top: 100px;
}
footer ul {
    display: flex;
    flex-direction: row;
}
footer ul li  {
    display: inline;
    font-size: 36px;
    padding: 20px;
    /* color: var(--accent-yellow) */
}
footer a {
    text-decoration: none;
    color: var(--light);
}

i {
    margin-right: 12px ;
}

/* RESUME PAGE */

#resumeDownload {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#resumeDownload a {
    text-decoration: none;
    color: var(--light);
    font-size: 32px;
    border-style: solid;
    border-radius: 12px;
    border-color: var(--accent-blue);
    padding: 10px;
}

#resumeDownload a:hover {
    color: var(--accent-yellow);
}

#resumeImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

/* GRID LAYOUT */
main {
    display: grid;
    grid-template-columns: 20rem 1fr 20rem;
    grid-template-rows: .75fr 1fr;
    grid-template-areas:
    "about-header about-main ."
    "projects-header projects .";
    /* "contact-header contact ."; */
}

.about-header {
    grid-area: about-header;
    display: flex;
    align-items: center;
    margin-bottom: 100px;

}

.about-img {
    grid-area: about-img;
}

.about-main {
    grid-area: about-main;
    display: flex;
    justify-content: center;
    align-items: center;
}


.projects-header {
    grid-area: projects-header;
}

.projects {
    grid-area: projects;
    display: flex;
    justify-content: center;

}


.contact-header {
    grid-area: contact-header;
    display: flex;
    align-items: center;
}

.contact {
    grid-area: contact;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MEDIA QUERY */

@media screen and (max-width: 1400px) {
    
    #aboutme p {
        font-size: 1.4rem;
    }
    #aboutme img {
        width: 100%;
        height: 100%;
    }

}

@media screen and (max-width: 875px) {
    
    #aboutme, #projects, #contact, #resume {
        flex-direction: column;
        margin: 0 auto;
        padding: 0 auto;
    }
    #aboutme img {
        width:50%;
        height: 50%;
        margin: 0px 0px 20px 0px;
        padding: 0 auto;
    }
    #aboutme p {
        font-size: 1.7rem;
        margin: 0 auto;
        padding: 0 auto;
    }

    .project-block-large {
        flex-basis: 25%;
    }

    .project-block {
        flex-basis: 25%;
        overflow: hidden;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        font-size: 40px;
    }
}
    
@media screen and (max-width: 500px) {
    main {
        max-width: 350px;
        display: flex;
        flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    article {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    #aboutme, #projects, #contact, #resume {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h2 {
        font-size: 75px;
        color: var(--accent-yellow);
        writing-mode: horizontal-tb;
        display: flex;
        justify-content: center;
        align-content: center;
        /* padding: 0px 10px 0px 15px; */
        text-decoration-line: none;
    }

    #aboutme img {
        width: 100%;
        height: 100%;
        margin: 10px 0px 20px 0px;
        padding: 0 auto;
    }
    #aboutme p {
        font-size: 1.7rem;
        width: 350px;
    }

    /* .project-block-large {
        flex-basis: 25%;
    }

    .project-block {
        flex-basis: 25%;
        overflow: hidden;
    } */

    #contact ul li, #resume a {
        font-size: 1.7rem;
    }
    }